


/* Remove annoying border on linked images. */
a img { border: none; }
a {outline: none;}
a:hover, a:active, a:focus {
    outline: none;
}
input.button:focus { 
    outline: none; 
}
/*for FireFox*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
{   
	border : 0px;
} 
/*for IE8 */
input[type="submit"]:focus, input[type="button"]:focus
{     
	outline : none; 
}

@charset "UTF-8";
/* CSS Document */

/*------------------------------------*\
	MAIN
\*------------------------------------*/

#wrapper-chart{
	padding:0px;
	margin-top:10px; 
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	height:492px;
	overflow:auto;

} 

#container{
	overflow: hidden;
	margin-top: 10px;
	}
	
#footer{
	color:#999;
	margin-top:20px;
	margin-bottom:0px;
	border-top:1px dashed #09f;
	padding-top:10px;
	text-align: right;
	}
	
#footer a {
	color:#09f;
	text-decoration: none;
	}

#footer a {
	color:#09f;
	text-decoration: none;
	}

h1 {
	margin-bottom: -.2em;
	color: #09F;
	font-size: 3em;
	line-height:1.25em;
	}
h4 a {
	text-decoration: none;
	color:#09F;
	}
	
h4 a:visited {
	text-decoration: none;
	color:#09F;
	}
	
h4 a:hover {
	text-decoration: none;
	color:#09F;
	}

h5 {
	font-size: 24px;
	margin-bottom:1px;
    color:#666;
    font-family:skolar;
   font-weight:600;
	}

h5 a {
	text-decoration: none;
	color:#09F;
	}
	
h5 a:visited {
	text-decoration: none;
	color:#09F;
	}
	
h5 a:hover {
	text-decoration: none;
	color:#060;
	} 

#header {
	border-bottom:1px dashed #09f;
	}
	
	
#tagline {
	margin-top:20px;
	margin-left:8px;
	
	}

.logo {
	margin-top:0px;
	margin-left:0em;
	margin-bottom:1px;
	
	}
	
.liblablogo {
display: in-line;
float:right;
margin-right: 10px;
	}

.checkout { 
	color:#666;
	padding-bottom:15px;
	}
	
.prevPage, .nextPage {
	cursor:pointer;
	text-align:center;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px; 
   	padding: 3px 8px 0px 8px;
   	padding-bottom: 3px; /* IE hack to fix spacing issue. */
   	text-decoration: none;
	background: #fff;
	color:#09f;
   	font-size: 16px;
   	font-family:skolar;
   	font-weight:600;
	border: 1px solid;
   	border-color: #999;
   	margin-left: 250px;
	display:block;
	width:100px;
   -webkit-user-select: none;
   -moz-user-select:none;
}


.prevPage:hover, .nextPage:hover {
	border-color: #f60;
	color:#09f;
}

.search-results {
	float:left;
	padding: 0 5px;
	margin:10px 0 10px 20px;
	width:64%;
	min-height:500px;
}

/*------------------------------------*\
	FACET BUTTONS
\*------------------------------------*/
.facet-box-container {
	float:left;
	margin:10px 0 0 10px;
	width:22%;
}

.facet-buttons li{
  text-decoration: none;
  list-style-type: none;
  margin-left: 5px;
  margin-top:0px;
  }


 span.rounded-buttons {  
  font-size: 1em;
  font-weight:bold;
  font-family:skolar;
  display:                block;
   border-radius:           5px;
  -moz-border-radius:      5px;
  -webkit-border-radius:   5px; 
  margin-bottom: 10px;
  padding:     4px 2px 2px 8px;
  .padding-bottom:         3px; /* IE hack to fix spacing issue. */
  text-decoration:        none;
  text-align:           left;
  background:           #eee;
  color:                 #09F;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  cursor:pointer;
 -webkit-user-select: none;
 -moz-user-select:none;
  } 
  

span.rounded-buttons:hover {  
  color:                 #f60;
  cursor:pointer;
  } 
  
 
  
span.rounded-buttons-top {  
  font-size: 1em;
  font-weight:bold;
  font-family:skolar;
  display:        block;
   border-radius:           5px;
  -moz-border-radius:      5px;
  -webkit-border-radius:   5px; 
  margin-bottom: 10px; 
  margin-top: 10px; /* For a little space between the title */
   padding:     4px 2px 2px 8px;
  .padding-bottom:         3px; /* IE hack to fix spacing issue. */
  text-decoration:        none;
  text-align:           left;
  background:           #eee;
  color:                 #09F;
  border-bottom: 1px solid #bbb;
  } 
  
span.rounded-buttons-top:hover {  
  color:                 #f60;
  } 
  
span.rounded-buttons-top:focus {    
  background: #09F;
  color: #F9F9F9;
  }
  
.column-header {
  margin-left:5px;
  font-size: 1.8em;
  font-weight:bold;
  color:#666;
  }

  
span.selected {
	 color: #f60;
	 margin-bottom: 11px;
	 border-bottom: 0px;
	 border-top: 1px solid #ccc;
	 border-left: 1px solid #ddd;
	 border-right: 1px solid #ddd;
}

span.selected:hover {
	 color: #f60;
	 margin-bottom: 11px;
	 border-bottom: 0px;
}

.orange {
	color:#f60;
}

.cyan {
	color:#09f;
}

/*------------------------------------*\
	CHART
\*------------------------------------*/

#chart-style {
		#data-1{
			width:56%;
		}
		#data-2{
			width:85%;
		}
		#data-3{
			width:96%;
		}
		#data-4{
			width:56%;
		}
		#data-5{
			width:85%;
		}
		#data-6{
			width:96%;
		}
		#data-7{
			width:56%;
		}
		#data-8{
			width:85%;
		}
		#data-9{
			width:96%;
		}
		#data-10{
			width:100%;
		}
		#data-1{
			-webkit-animation-name:bar-1;
		}
		#data-2{
			-webkit-animation-name:bar-2;
		}
		#data-3{
			-webkit-animation-name:bar-3;
		}
		#data-4{
			-webkit-animation-name:bar-4;
		}
		#data-5{
			-webkit-animation-name:bar-5;
		}
		#data-6{
			-webkit-animation-name:bar-6;
		}
		#data-1,#data-2,#data-3{
			-webkit-animation-duration:0.5s;
			-webkit-animation-iteration-count:1;
			-webkit-animation-timing-function:ease-out;
		}
	
}


#chart{
	width:720px;
}
#chart dt{
	width:260px;
	float:left;
	margin:4px 10px 5px 0;
	padding:2px 0;
	display:inline;
	text-align:right;
	clear:left;
	font-family:courier;
	font-size:12px;
	
}
#chart dt a{
	color:#444;
	text-decoration:none;
	text-shadow: 0px 1px #fff;
	
}

#chart dt a:hover{
	color:#000;
	text-shadow: 0px 1px #fff;
}

#chart dd{
	width:339px;
	float:left;
	margin-bottom:5px;
	display:inline;
	
}
#chart dd span{
	color:#fff;
	font-family:'Helvetica Neue', Arial, sans-serif;
	background: url(../images/books.png) no-repeat;
	text-align:left;
	padding:5px 0 2px 5px;
	display:block;
	height:33px;
	font-size:16px;
	font-weight:bold;
	padding-top:8px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.2);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	/*background:-webkit-gradient(linear, left top, left bottom, from(#09f), to(#077fd0));
	-webkit-box-reflect:below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));*/
}