html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	vertical-align: middle;
}
#collection_content {
	margin: 20px 0;
	padding: 0;
}
#manage_book_bag {
	padding: 20px;
}
#manage_book_bag .superblyTagItem {
	opacity: .7;
	background-color: #BBCEE4;
	border: solid 1px #7AA9E3;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
#manage_book_bag .superblyTagItem:hover {
	background-color: #448CD5;
	opacity: 1.0;
	border: 1px solid #003C77;
}
#manage_book_bag {
	margin-top: 10px;
	margin-bottom: 40px;/* font-size:12px;*/
}
/*
#manage_book_bag p {
font-size: 12px;
}
#manage_book_bag h1 {
font-size: 16px;
}
#manage_book_bag h2 {
font-size: 14px;
}
*/
#manage_book_bag .mast {
	width: 100%;
	display: block;
	height: 20px;
	padding: 0;
}
#manage_book_bag .mast h2,#manage_book_bag .mast h2 a {
	display: block;
	width: 85%;
	float: left;
	color:#09F;
	font-size:20px;
}
#manage_book_bag .mast #aqbbut {
	display: block;
	float: right;
	clear: right;
	margin-right: 15px;
	padding: 0;
	border-bottom: none;
	text-decoration: none;
	line-height: 30px;
	background: #E3E3E3;
	border: 1px solid #BBB;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-o-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px "helvetica neue",helvetica,arial,sans-serif;
	line-height: 1;
	padding: 8px 0 9px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	width: 70px;
}
#manage_book_bag h2,#manage_book_bag h2 a {
color:#09F;
font-size:20px;
}
#book_info_bar {
	width: 100%;
	height: 30px;
	margin: 5px 0;
	position: relative;
	padding: 10px 0;
}
#book_info_bar li.infoSection {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	position: relative;
}
#book_info_bar li.right {
	float: right;
	clear: right;
}
#book_info_bar li p {
	margin: 0;
	padding: 0;
	line-height: 30px;
}
#book_history {
	width: 100%;
	min-height: 30px;
	margin: 0;
	position: relative;
}
#book_history h2 {
	width: 100%;
	min-height: 30px;
	margin: 0;
	position: relative;
	line-height: 30px;
	color:#09F;
	font-size:20px;
}
#book_history table {
	padding: 0;
	color: #333;/*font-size:11px;*/
	float:left;
	width: 100%;
}
input[type="button"].copyButton {
	background-color: #d7e5f5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d7e5f5),to(#cbe0f5));/* Saf4+,Chrome */
	background-image:-webkit-linear-gradient(top,#d7e5f5,#cbe0f5);
	background-image: -moz-linear-gradient(top,#d7e5f5,#cbe0f5);
	background-image: -ms-linear-gradient(top,#d7e5f5,#cbe0f5);
	background-image: -o-linear-gradient(top,#d7e5f5,#cbe0f5);
	background-image: linear-gradient(top,#d7e5f5,#cbe0f5);
	border-top: 1px solid #abbbcc;
	border-left: 1px solid #a7b6c7;
	border-bottom: 1px solid #a1afbf;
	border-right: 1px solid #a7b6c7;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	-moz-box-shadow: inset 0 1px 0 0 white;
	-ms-box-shadow: inset 0 1px 0 0 white;
	-o-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	color: #1a3e66;
	font: normal 9px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	line-height: 12px;
	padding: 2px;
	text-align: center;
	text-shadow: 0 1px 1px white;
	width: 48px;
	float: right;
	margin-top: 6px;
}
input[type="button"].copyButton:hover {
	background-color: #ccd9e8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ccd9e8),to(#c1d4e8));/* Saf4+,Chrome */
	background-image:-webkit-linear-gradient(top,#ccd9e8,#c1d4e8);
	background-image: -moz-linear-gradient(top,#ccd9e8,#c1d4e8);
	background-image: -ms-linear-gradient(top,#ccd9e8,#c1d4e8);
	background-image: -o-linear-gradient(top,#ccd9e8,#c1d4e8);
	background-image: linear-gradient(top,#ccd9e8,#c1d4e8);
	border-top: 1px solid #a1afbf;
	border-left: 1px solid #9caaba;
	border-bottom: 1px solid #96a3b3;
	border-right: 1px solid #9caaba;
	-webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
	-moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
	-ms-box-shadow: inset 0 1px 0 0 #f2f2f2;
	-o-box-shadow: inset 0 1px 0 0 #f2f2f2;
	box-shadow: inset 0 1px 0 0 #f2f2f2;
	color: #163659;
	cursor: pointer;
}
input[type="button"].copyButton:active {
	border: 1px solid #8c98a7;
	-webkit-box-shadow: inset 0 0 4px 2px #abbccf,0 0 1px 0 #eeeeee;
	-moz-box-shadow: inset 0 0 4px 2px #abbccf,0 0 1px 0 #eeeeee;
	-ms-box-shadow: inset 0 0 4px 2px #abbccf,0 0 1px 0 #eeeeee;
	-o-box-shadow: inset 0 0 4px 2px #abbccf,0 0 1px 0 #eeeeee;
	box-shadow: inset 0 0 4px 2px #abbccf,0 0 1px 0 #eeeeee;
}
#book_history table tr td input[type=radio] {
	margin-right: 10px;
}
#book_history table tr td .radios {
	padding-top: 18px;
	background: url(../images/divider.png) repeat-x 0 0;
}
#book_history table tr td .label_check input,#book_history table tr td .label_radio input {
	margin-right: 5px;
}
#book_history table tr td .label_check,#book_history table tr td .label_radio {
	display: block;
	padding-left: 34px;
}
#book_history table tr td .label_radio {
	background: url(../images/radio-off.png) no-repeat;
	height: 34px;
}
#book_history table tr td .label_check {
	background: url(../images/check-off.png) no-repeat;
	height: 34px;
}
#book_history table tr td label.c_on {
	background: url(../images/check-on.png) no-repeat;
}
#book_history table tr td label.r_on {
	background: url(../images/radio-on.png) no-repeat;
}
#book_history table tr td .label_check input,#book_history table tr td .label_radio input {
	position: absolute;
	left: 0;
	opacity: 0;
	width: 90%;
	height: 100%;
}
#book_history input[type=text] {
	width: 100%;/*font-size:12px;*/
	padding:5px 0;
	line-height: 24px;
	display: block;
	border-radius: none;
	min-height: none;
	border: 1px solid #CCC;
	background-color: white;
	box-shadow: none;
	text-indent: 10px;
}
#book_history textarea {
	display: block;
	width: 95%;
	height: 120px;
	padding: 8px;/*font-size:13px;*/
	border-radius:none;
	min-height: none;
	border: 1px solid #CCC;
	background-color: white;
	box-shadow: none;
	resize: none;
}
#manage_book_bag .superblyTagItems .superblyTagItem {
	margin: 5px;
}
#manage_book_bag input.superblyTagInput {
	box-shadow: none;
	border: none;/*font-size:14px;*/
	padding:0;
	line-height: 14px;
}
#book_history_section {
	width: 100%;
	height: 100%;
	margin: 10px 0;
	position: relative;
	display: none;
}
#book_history_section .bhs_half {
	width: 50%;
	min-height: 300px;
	height: 100%;
	display: block;
	float: left;
}
#book_history_section .bhs_half .bhs_nav {
}
#book_history_section .bhs_half .bhs_nav .bhs_item {
	min-height: 40px;
	padding: 5px;
	margin: 5px 10px;
	display: block;
	border: none;
	background: rgba(255,255,255,0.4);
}
#book_history_section .superblyTagfieldDiv {
	border: 1px solid #CCC;
}
.book_item_blocks {
	display: block;
	position: relative;
}
.book_item_blocks aside.left {
	width: 34%;
	float: left;
	display: block;
	line-height: 25px;
}
.book_item_blocks aside.right {
	margin-top: 5px;
	width: 60%;
	float: left;
	display: block;
}
.book_item_blocks aside.right:after {
	clear: both;
}
#collection {
	width: 100%;/* min-height:600px;*//* background:transparent url('../images/library_free_bg.jpg') top center no-repeat;
	background-size: 100%;
	background-opacity: 2%;*/
	margin:20px 0;
	position: relative;
}
#collection .mast #showCollItemSlides {
	display: block;
	float: right;
	clear: right;
	margin-right: 15px;
	padding: 0;
	border-bottom: none;
	text-decoration: none;
	line-height: 30px;
	background: #E3E3E3;
	border: 1px solid #BBB;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-o-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px "helvetica neue",helvetica,arial,sans-serif;
	line-height: 1;
	padding: 8px 0 9px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	width: 70px;
}
#collection_holder {
	min-height: 300px;
	-webkit-transition: height 1s ease-in-out;
	-moz-transition: height 1s ease-in-out;
	-o-transition: height 1s ease-in-out;
	-ms-transition: height 1s ease-in-out;
	transition: height 1s ease-in-out;
}
#collection caption {
	padding: 0 0 5px;
	width: 700px;/*font:italic 11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;*/
	text-align:right;
}
/* #collection th {
font: bold 11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
color: #4f6b72;
letter-spacing: 2px;
text-transform: uppercase;
text-align: left;
padding: 6px 6px 6px 12px;
background: rgba(0,0,0,0.5);
}
*/
#collection tbody tr {/*background:rgba(0,0,0,0.11);*/
}
#collection tbody tr.alt {/*background:rgba(0,0,0,0.22);*/
}
#collection tr.alt {
	background: #DDD;
}
#collection td {
	position: relative;
	vertical-align: middle;
	padding: 5px;
	margin: 0;
}
#manage_book_bag #collection td input.superblyTagInput {
	display: inline;
	width: 100%;
	height: 100%;
}
#collection td input[type=checkbox] {
	margin-left: 10px;
}
#collection td textarea {
	display: inline;
	width: 98%;
	height: 100%;/* font-size:13px;*/
	border-radius:none;
	border: solid 1px #444;
	background-color: white;
	box-shadow: none;
}
#collection td p {
	width: 100%;
	height: 100%;/* text-indent:10px;*/
}
#collection td.alt {
	background: #F5FAFA;
	color: #797268;
}
#collection th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../images/bullet1.gif) no-repeat;/*font:bold 10px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;*/
}
/* #collection th.specalt {
border-left: 1px solid #C1DAD7;
border-top: 0;
background: #f5fafa url(../images/bullet2.gif) no-repeat;
font: bold 10px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
color: #797268;
}
*/
#collection .displays {
	height: 25px;
}
#collection .displays aside.left {
	padding-left: 10px;
}
#collection .displays aside.right {
	padding-right: 10px;
}
#collection .displays aside.right form {/* width:150px;*/
	padding:5px;
	margin-bottom: 10px;/* background:transparent;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: 0 5px 12px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4);
	-moz-box-shadow: 0 5px 12px rgba(0,0,0,.4);
	-khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4);*/
}
#collection .displays aside.right fieldset {
	display: inline-block;
	border: 0;
	padding-bottom: 9px;
}
#collection .displays aside.right label {
	display: block;
	cursor: pointer;
	line-height: 20px;
	padding-bottom: 9px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	position: relative;
}
#collection .displays aside.right .radios {
	padding-top: 18px;
	background: url(../images/divider.png) repeat-x 0 0;
}
#collection .displays aside.right .label_check input,#collection .displays aside.right .label_radio input {
	margin-right: 5px;
}
#collection .displays aside.right .label_check,#collection .displays aside.right .label_radio {
	display: block;
	padding-left: 34px;
}
#collection .displays aside.right .label_radio {
	background: url(../images/radio-off.png) no-repeat;
}
#collection .displays aside.right .label_check {
	background: url(../images/check-off.png) no-repeat;
	height: 34px;
}
#collection .displays aside.right label.c_on {
	background: url(../images/check-on.png) no-repeat;
}
#collection .displays aside.right label.r_on {
	background: url(../images/radio-on.png) no-repeat;
}
#collection .displays aside.right .label_check input,#collection .displays aside.right .label_radio input {
	position: absolute;
	left: 0;
	opacity: 0;
	width: 90%;
	height: 100%;
}
#collection .displays table {
	margin: 0;
	padding: 3px;
	border-collapse: separate;
}
#collection .displays aside.right table td {/*background:rgba(255,255,255,0.4);*/
}
#collection_info {
	position: relative;
	padding: 5px;
	background: rgba(255,255,255,0.5) url(../images/Info-32.png) no-repeat left center;
	margin: 0 0 10px;
	color: #333;/* -webkit-transition:all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;*/
	/*border:dashed 1px rgba(0,0,0,0.1);*/
}
#collection_info aside.left {
	margin-left: 32px;
}
#collection_info:hover {/* border:dotted 1px rgba(0,0,0,0.5);*/ color:#444;
}
#extramuros input[type="button"] {
	margin-left: 10px;
	background-color: #52A8E8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#52a8e8),to(#377ad0));
	background-image: -webkit-linear-gradient(top,#52a8e8,#377ad0);
	background-image: -moz-linear-gradient(top,#52a8e8,#377ad0);
	background-image: -ms-linear-gradient(top,#52a8e8,#377ad0);
	background-image: -o-linear-gradient(top,#52a8e8,#377ad0);
	background-image: linear-gradient(top,#52a8e8,#377ad0);
	border-top: 1px solid #4081AF;
	border-right: 1px solid #2E69A3;
	border-bottom: 1px solid #20559A;
	border-left: 1px solid #2E69A3;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	border-radius: 16px;
	-webkit-box-shadow: inset 0 1px 0 0 #72b9eb,0 1px 2px 0 #b3b3b3;
	-moz-box-shadow: inset 0 1px 0 0 #72b9eb,0 1px 2px 0 #b3b3b3;
	-ms-box-shadow: inset 0 1px 0 0 #72b9eb,0 1px 2px 0 #b3b3b3;
	-o-box-shadow: inset 0 1px 0 0 #72b9eb,0 1px 2px 0 #b3b3b3;
	box-shadow: inset 0 1px 0 0 #72b9eb,0 1px 2px 0 #b3b3b3;
	color: white;
	font: normal 11px "lucida grande",sans-serif;
	line-height: 1;
	padding: 3px 5px;
	text-align: center;
	text-shadow: 0 -1px 1px #3275BC;
	width: 112px;
	-webkit-background-clip: padding-box;
}
#extramuros input[type="button"]:hover {
	background-color: #3e9ee5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#3e9ee5 0%),to(#206bcb 100%));/* Saf4+,Chrome */
	background-image:-webkit-linear-gradient(top,#3e9ee5 0%,#206bcb 100%);
	background-image: -moz-linear-gradient(top,#3e9ee5 0%,#206bcb 100%);
	background-image: -ms-linear-gradient(top,#3e9ee5 0%,#206bcb 100%);
	background-image: -o-linear-gradient(top,#3e9ee5 0%,#206bcb 100%);
	background-image: linear-gradient(top,#3e9ee5 0%,#206bcb 100%);
	border-top: 1px solid #2a73a6;
	border-right: 1px solid #165899;
	border-bottom: 1px solid #07428f;
	border-left: 1px solid #165899;
	-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
	-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
	-ms-box-shadow: inset 0 1px 0 0 #62b1e9;
	-o-box-shadow: inset 0 1px 0 0 #62b1e9;
	box-shadow: inset 0 1px 0 0 #62b1e9;
	cursor: pointer;
	text-shadow: 0 -1px 1px #1d62ab;
	-webkit-background-clip: padding-box;
}
#extramuros input[type="button"]:active {
	background: #3282d3;
	border: 1px solid #154c8c;
	border-bottom: 1px solid #0e408e;
	-webkit-box-shadow: inset 0 0 6px 3px #1657b5,0 1px 0 0 white;
	-moz-box-shadow: inset 0 0 6px 3px #1657b5,0 1px 0 0 white;
	-ms-box-shadow: inset 0 0 6px 3px #1657b5,0 1px 0 0 white;
	-o-box-shadow: inset 0 0 6px 3px #1657b5,0 1px 0 0 white;
	box-shadow: inset 0 0 6px 3px #1657b5,0 1px 0 0 white;
	text-shadow: 0 -1px 1px #2361a4;
	-webkit-background-clip: padding-box;
}
#extramuros input[type="button"][disabled],
#extramuros input[type="button"][disabled]:hover,
#extramuros input[type="button"][disabled]:active {
	background-color: #dadada;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dadada),to(#f3f3f3));/* Saf4+,Chrome */
	background-image:-webkit-linear-gradient(top,#dadada,#f3f3f3);
	background-image: -moz-linear-gradient(top,#dadada,#f3f3f3);
	background-image: -ms-linear-gradient(top,#dadada,#f3f3f3);
	background-image: -o-linear-gradient(top,#dadada,#f3f3f3);
	background-image: linear-gradient(top,#dadada,#f3f3f3);
	border-top: 1px solid #c5c5c5;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #cecece;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	color: #8f8f8f;
	cursor: not-allowed;
	text-shadow: 0 -1px 1px #ebebeb;
}
#extramuros input[type="button"]::-moz-focus-inner {
	border: 0;
	padding: 0;
}
/* Adjust the look*/
::-moz-selection,::selection {
	background-color: Transparent;
	color: #000;
}
#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#sortable .ui-state-default {/* margin:20px;
padding: 5px;*/
border-radius:5px;
float: left;
width: 100%;/* min-height:40px;*/
max-height:50px;
display: block;
text-align: left;
}
#sortable .ui-state-default,#sortable .ui-widget-content .ui-state-default,#sortable .ui-widget-header .ui-state-default {
	border: none;
	background: transparent;
	color: #333;
}
#sortable .ui-state-default aside.rows {/*margin:5px 10px;*/
	padding:0;
	margin: 2px;
	display: inline;
	vertical-align: middle;
	float: left;/* height:40px;*/
}
#sortable .ui-state-default aside.coll_stack {
	min-width: 389px;
}
#sortable .coll_stack ul.stack {
	display: inline-block;
}
#sortable .ui-state-default aside.rows .itemContainer {
	min-width: 340px;
}
#sortable .ui-state-default aside.checkrow {
	height: 34px;
	min-height: 34px;
	position: relative;
}
#sortable .ui-state-default aside.rows .coll_list_check {
	width: 18px;
}
#sortable .ui-state-default aside.rows textarea {
	display: inline;
	vertical-align: middle;
	width: 350px;
	height: 40px;
	margin-right: 10px;
	overflow: hidden;
	resize: none;
}
#collection .sort_grid .superblyTagfieldDiv {
	background: transparent;
	margin: 0;
	display: inline-block;
	width: 300px;
	height: 25px;
	min-height: 25px;
	border: none;
}
#collection .sort_grid .superblyTagfieldDiv span {
	line-height: 13px;
	display: inline-block;
	height: 13px;
	vertical-align: top;
}
#collection .sort_grid .superblyTagItems > li {/*font-size:11px;
font-family: Verdana,Arial,Georgia,Helvetica,sans-serif;*/
list-style:none;
float: left;
padding: 1px;
margin: 3px;
position: relative;
border-radius: 2px;
}
#collection .sort_grid input.superblyTagInput {
	box-shadow: none;
	border: none;/*font-size:14px;*/
	padding:0;
	line-height: 20px;
	border: 1px solid rgba(0,0,0,0.1);
	width: 56px;
	height: 19px;
	margin-top: -3px;
}
#collection .sort_grid .superblySuggestItem {
	min-width: 120px;
	z-index: 100;
	height: 20px;
	vertical-align: top;
	line-height: 20px;
}
#sortable2 {
	list-style-type: none;
	margin: 0 0 0 30px;
	padding: 0;
}
#sortable2 .ui-state-default {
	margin: 10px 20px;
	padding: 5px;
	border-radius: 5px;
	float: left;
	width: 300px;
	min-height: 40px;
	max-height: 300px;
	display: block;
	text-align: left;
}
#sortable2 .ui-state-default,#sortable2 .ui-widget-content .ui-state-default,#sortable2 .ui-widget-header .ui-state-default {
	border: 1px solid #AAA;
	background: #ffffff;
	color: #333;
}
#sortable2 .ui-state-default aside.rows {
	margin: 5px 10px;
	display: block;
	vertical-align: middle;
	float: none;
	min-height: 40px;
	width: 90%;
}
#sortable2 .ui-state-default aside.checkrow {
	height: 34px;
	min-height: 34px;
	position: relative;
}
#sortable2 .ui-state-default aside.thumbnail {
	width: 280px;
	margin: 5px 10px;
	display: block;
	vertical-align: middle;
	clear: both;
	height: 162px;
}
#sortable2 .ui-state-default aside.thumbnail .cover-image {
	margin: 0 auto;
	float: none;
	display: block;
	-moz-user-select: none;
	-webkit-user-select: none;/* this will work for QtWebKit in future */
	-webkit-user-drag:none;
}
#sortable2 .ui-state-default aside.rows .itemContainer {
	width: 280px;
	margin-left: -16px;
}
#sortable2 .ui-state-default aside.rows .coll_list_check {
	width: 34px;
}
#sortable2 .ui-state-default aside.rows textarea {
	display: inline;
	vertical-align: middle;
	width: 280px;
	height: 20px;
	margin-right: 10px;
	resize: none;
	overflow: hidden;
}
#collection .sort_grid2 .superblyTagfieldDiv {
	margin: 0;
	display: inline-block;
	width: 280px;
	height: 25px;
	min-height: 25px;
	border: none;
	background: transparent;
}
#collection .sort_grid2 .superblyTagfieldDiv span {
	line-height: 13px;
	display: inline-block;
	height: 13px;
	vertical-align: top;
}
#collection .sort_grid2 .superblyTagItems > li {/*font-size:11px;
font-family: Verdana,Arial,Georgia,Helvetica,sans-serif;*/
list-style:none;
float: left;
padding: 1px;
margin: 3px;
position: relative;
border-radius: 2px;
}
#collection .sort_grid2 input.superblyTagInput {
	box-shadow: none;
	border: none;/* font-size:14px;*/
	padding:0;
	line-height: 19px;
	border: 1px solid rgba(0,0,0,0.1);
	width: 90px;
	margin-top: -2px;
}
#collection .sort_grid2 .superblySuggestItem {
	min-width: 120px;
	z-index: 100;
	height: 20px;
	vertical-align: top;
	line-height: 20px;
}

}
#collection_permissions {
	background-color: rgba(0,0,0,0.14);
	padding: 5px;
}
#collection_permissions p {
	padding-left: 10px;
}
#collection_permissions .superblyTagfieldDiv {
	margin: 10px;
	display: block;
	border: 1px solid #AAA;
}
#collection_permissions .superblyTagfieldDiv span {
	line-height: 24px;
	display: inline-block;
	height: 24px;
	vertical-align: top;
}
#collection_permissions input.superblyTagInput {
	box-shadow: none;
	border: none;/* font-size:14px;*/
	padding:0;
	line-height: 30px;
}
#collection_permissions .superblySuggestItem {
	min-width: 135px;
	z-index: 100;
	height: 24px;
	vertical-align: top;
	line-height: 24px;
}
#collection_permissions .superblySuggestItem img {
	margin: 0 5px 0 0;
}
#collection_permissions .superblyTagfieldDiv span img {
	margin: 0 5px 0 0;
}
#collection_permissions .superblyTagfieldDiv a {
	line-height: 22px;
}
#collection_permissions .inviteFromPermissions {
	background-color: #D7E5F5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d7e5f5),to(#cbe0f5));
	background-image: -webkit-linear-gradient(top,#d7e5f5,#cbe0f5);
	background-image: -moz-linear-gradient(top,#d7e5f5,#cbe0f5);
	background-image: -ms-linear-gradient(top,#d7e5f5,#cbe0f5);
	background-image: -o-linear-gradient(top,#d7e5f5,#cbe0f5);
	background-image: linear-gradient(top,#d7e5f5,#cbe0f5);
	border-top: 1px solid #ABBBCC;
	border-left: 1px solid #A7B6C7;
	border-bottom: 1px solid #A1AFBF;
	border-right: 1px solid #A7B6C7;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	-moz-box-shadow: inset 0 1px 0 0 white;
	-ms-box-shadow: inset 0 1px 0 0 white;
	-o-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	color: #1A3E66;
	font: normal 9px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	line-height: 1;
	padding: 0px 6px 0 7px;
	text-align: center;
	text-shadow: 0 1px 1px white;
	text-decoration: none;
	margin: 2px 3px;/* width:150px;*/
}
#collection_permissions .inviteFromPermissions:hover {
	color: #333;
}
.span_for_chzn_select {
	margin-right: 10px;
	display: inline-block;
}
.layupjs {/*background:url(../images/gridMapBg.jpg) top center no-repeat;*/
	height:600px;
	width: 1105px;
	position: relative;
	border: 1px solid #BBB;
	background:rgba(255,255,255, 1);
	-moz-border-radius: 3px; /* FF1+ */
	-webkit-border-radius: 3px; /* Saf3+, Chrome */
	border-radius: 3px; /* Opera 10.5, IE 9 */
	margin-bottom: 20px;
}
.layupjs .coverImageDrag {
	z-index: 150;
	min-width: 90px;
	min-height: 116px;
	max-width: 124px;
	max-height: 160px;
	padding: 0;
	margin: 0;
	display: inline-block;
	position: absolute;
	-moz-transition: width 2s ease,height 2s ease;
	-o-transition: width 2s ease,height 2s ease;
	-ms-transition: width 2s ease,height 2s ease;
	transition: width 2s ease,height 2s ease;
}
.layupjs .roundCoverCovers {
	width: 250px;
	height: 250px;
	max-width: 250px;
	max-height: 250px;
	border-radius: 125px;
	border: 1px solid white;
	background-image: -moz-linear-gradient(top,rgba(250,250,250,0.23),rgba(238,238,238,0.23));
	background-image: -webkit-gradient(linear,center top,center bottom,from(rgba(250,250,250,0.23)),to(rgba(238,238,238,0.23)));
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);/*
	-moz-transition:width 2s ease,height 2s ease;
	-o-transition: width 2s ease,height 2s ease;
	-ms-transition: width 2s ease,height 2s ease;
	transition: width 2s ease,height 2s ease;*/
}
.layupjs .roundCoverCovers h3 {
	padding: 0px;/* margin:10px auto;*/
	border:1px solid #FFF;
	background: rgba(188,188,0,0.5);
	box-shadow: 0 1px 0 white,inset 0 1px 7px rgba(0,0,0,0.4);
}
.layupjs .roundCoverCovers .roundCoverCovers h3 {
	padding: 0px;/* margin:10px auto;*/
	border:1px solid #FFF;
	background: rgba(0,0,188,0.5);
	box-shadow: 0 1px 0 white,inset 0 1px 7px rgba(0,0,0,0.4);
}
.layupjs .roundCoverCovers .roundCoverCovers .roundCoverCovers h3 {
	padding: 0px;/* margin:10px auto;*/
	border:1px solid #FFF;
	background: rgba(255,0,0,0.5);
	box-shadow: 0 1px 0 white,inset 0 1px 7px rgba(0,0,0,0.4);
}
.layupjs .roundCoverCovers .closeLayUp {
	border-radius: 10px;
	padding: 0;
	width: 5px;
	height: 5px;
	position: absolute;
	top: -23px;
	right: 114px;
	color: #000;
	text-shadow: 0 1px 0 #FFF;
	text-align: center;
	line-height: 18px;
	border: 1px solid white;
	background-image: -moz-linear-gradient(top,rgba(250,250,250,0.23),rgba(238,238,238,0.23));
	background-image: -webkit-gradient(linear,center top,center bottom,from(rgba(250,250,250,0.23)),to(rgba(238,238,238,0.23)));
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
.layupjs .roundCoverCovers .coverImageDrag {/* opacity:0.6;*/
}
.layupjs .cover-image {
	min-width: 90px;
	min-height: 116px;
	max-width: 124px;
	max-height: 160px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	padding: 0;
	margin: 0;/*
	-moz-transition:width 2s ease,height 2s ease;
	-o-transition: width 2s ease,height 2s ease;
	-ms-transition: width 2s ease,height 2s ease;
	transition: width 2s ease,height 2s ease;*/
}
.layupjs .roundCoverCovers .cover-image {
	left: 35%;
	top: 10%;
}
.layupjs .roundCoverCovers.ui-draggable-dragging {
	box-shadow: 0 1px 0 white,inset 0 1px 5px rgba(0,0,0,0.4);
	width: 250px;
	height: 250px;
	max-width: 250px;
	max-height: 250px;
	border-radius: 125px;
}
.resizeLayUps {
	background-image: 0 rgba(247,247,247,0.41) 3% rgba(242,242,242,0.41) 12% rgba(217,217,217,0.41) 90% rgba(191,191,191,0.41));
	background-image: 0 to(rgba(191,191,191,0.41)),color-stop(3%,rgba(247,247,247,0.41)),color-stop(12%,rgba(242,242,242,0.41)),color-stop(90%,rgba(217,217,217,0.41)));
	box-shadow: 0 1px 5px rgba(0,0,0,0.75);
}
.resizeLayUps .ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
	bottom: 0;
	right: 0;
	position: absolute;
}
.resizeLayUps .closeLayUp {
	border-radius: 10px;
	border: 1px solid blue;
	padding: 0;
	width: 5px;
	height: 5px;
	position: absolute;
	top: -20px;
	right: -20px;
	background: rgba(188,188,188,0.41);
	color: #000;
	text-shadow: 0 1px 0 #FFF;
	box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	text-align: center;
	line-height: 18px;
}
/*Fresh check boxes ---webdesign.maratz.com/lab/fancy-checkboxes-and-radio-buttons/jquery.html--- */
.sort_grid a:hover,.layupjs a:active {
	outline: none;
}
.sort_grid #sizer {
	width: 340px;
	margin: 0 auto;
	padding: 144px 200px 240px;
	background: url(highlight.png) no-repeat 50% 0;
}
.sort_grid form {
	width: 300px;
	padding: 18px 20px 0;
	margin-bottom: 18px;
	background: #4f84b8 url(box-grad.png) repeat-x 0 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: 0 5px 12px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4);
	-moz-box-shadow: 0 5px 12px rgba(0,0,0,.4);
	-khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4);
}
.sort_grid fieldset {
	display: inline-block;
	border: 0;
	padding-bottom: 9px;
}
.sort_grid label {
	display: block;
	cursor: pointer;
	line-height: 20px;
	padding-bottom: 9px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
.sort_grid .radios {
	padding-top: 18px;
	background: url(../images/divider.png) repeat-x 0 0;
}
.sort_grid .label_check input,.sort_grid .label_radio input {
	margin-right: 5px;
}
.sort_grid .label_check,.sort_grid .label_radio {
	display: block;
	padding-left: 34px;
}
.sort_grid .label_radio {
	background: url(../images/radio-off.png) no-repeat;
}
.sort_grid .label_check {
	background: url(../images/check-off.png) no-repeat;
	height: 34px;
}
.sort_grid label.c_on {
	background: url(../images/check-on.png) no-repeat;
}
.sort_grid label.r_on {
	background: url(../images/radio-on.png) no-repeat;
}
.sort_grid .label_check input,.sort_grid .label_radio input {
	position: absolute;
	left: 0;
	opacity: 0;
	width: 90%;
	height: 100%;
}
.sort_grid #sortable .ui-state-default {
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	-ms-transition: background 0.2s linear;
	transition: background 0.2s linear;
}
.sort_grid #sortable .ui-state-default.regDadTag {
	background: #FFF;
}
.sort_grid #sortable .ui-state-default.hiDadTag {
	background: rgba(255,255,115,0.3);
}
.sort_grid2 a:hover,.layupjs a:active {
	outline: none;
}
.sort_grid2 #sizer {
	width: 340px;
	margin: 0 auto;
	padding: 144px 200px 240px;
	background: url(highlight.png) no-repeat 50% 0;
}
.sort_grid2 form {
	width: 300px;
	padding: 18px 20px 0;
	margin-bottom: 18px;
	background: #4f84b8 url(box-grad.png) repeat-x 0 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: 0 5px 12px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4);
	-moz-box-shadow: 0 5px 12px rgba(0,0,0,.4);
	-khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4);
}
.sort_grid2 fieldset {
	border: 0;
	padding-bottom: 9px;
}
.sort_grid2 label {
	display: block;
	cursor: pointer;
	line-height: 20px;
	padding-bottom: 9px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
.sort_grid2 .radios {
	padding-top: 18px;
	background: url(../images/divider.png) repeat-x 0 0;
}
.sort_grid2 .label_check input,.sort_grid2 .label_radio input {
	margin-right: 5px;
}
.sort_grid2 .label_check,.sort_grid2 .label_radio {
	display: block;
	padding-left: 34px;
}
.sort_grid2 .label_radio {
	background: url(../images/radio-off.png) no-repeat;
}
.sort_grid2 .label_check {
	background: url(../images/check-off.png) no-repeat;
	height: 34px;
}
.sort_grid2 label.c_on {
	background: url(../images/check-on.png) no-repeat;
}
.sort_grid2 label.r_on {
	background: url(../images/radio-on.png) no-repeat;
}
.sort_grid2 .label_check input,.sort_grid2 .label_radio input {
	position: absolute;
	left: 0;
	opacity: 0;
	width: 90%;
	height: 100%;
}
.sort_grid2 #sortable2 .ui-state-default {
	-webkit-transition: background 0.18s linear;
	-moz-transition: background 0.18s linear;
	-o-transition: background 0.18s linear;
	-ms-transition: background 0.18s linear;
	transition: background 0.18s linear;
}
.sort_grid2 #sortable2 .ui-state-default.regDadTag {
	background: rgba(255,255,255,0.5);
}
.sort_grid2 #sortable2 .ui-state-default.hiDadTag {
	background: #ddf1ff;
}
#coverMap {
	height: 600px;
	width: 1105px;
}
