@charset "UTF-8";
/* CSS Document */

body{
	background:#FFF;
	font-size: 11px;
	}
a 	{ 
	color:#000;
	}
	
a:hover {
	color:#060;
	}
	
a:visited {
	color:#090;
	}
#container{
	overflow: hidden;
	margin-top: 20px;
	}
	
#footer{
	display: inline-block;
	color:#999;
	font-size: 90%;
	}
	
#footer a {
	color:#000;
	text-decoration: none;
	}

h1 {
	margin-bottom: -.2em;
	}
h4 a {
	text-decoration: none;
	color:#090;
	}
	
h4 a:visited {
	text-decoration: none;
	color:#090;
	}
	
h4 a:hover {
	text-decoration: none;
	color:#060;
	}

 .searchBox {
font-family: Arial, Helvetica, sans-serif;
filter:none; /*this is so IE doesn't mess up anti-aliasing with cleartype*/
  font-size: 1.2em;
  color: #000;
  background-color : #FFF;
  border-radius:           4px;
  -moz-border-radius:      4px;
  -webkit-border-radius:   4px; 
  border:            2px solid;
  border-top-color:       #ccc;
  border-left-color:      #ccc;
  border-right-color:     #bbb;
  border-bottom-color:    #bbb;
  border-color:           #09F;  
  margin-left: 10px;
  margin-top:00px;
  padding-left: 5px;
  padding-top:1px;
  padding-bottom:1px;
}
  
  
  .searchButton {
  display:inline-block;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.2em;
  margin-left: 10px;
  cursor: pointer;
  color:#FFF;
  padding-top:2px;
  padding-bottom:2px;
  border-radius:           4px;
  -moz-border-radius:      4px;
  -webkit-border-radius:   4px; 
  border:            0px solid;
  border-top-color:       #ccc;
  border-left-color:      #ccc;
  border-right-color:     #bbb;
  border-bottom-color:    #bbb;
  background-color:  #09F;
  border-color: #09F;
  padding:1px;
}
  
  .searchButton:hover {
  border-color: #090;

}

  .searchButton:active {
  border-color: #09F;
  color:#35B600; 

}