/*on item page*/

#reviewsummary {
font-size: 0.75em;
}

#reviewsummary a {
color:#555;
}

#below-content {
border-top: 1px dashed #AADDFF;
padding-top:35px;
padding-bottom:35px;
}

#reviewfull p {
font-size:.9em;
}

p.reviewcontent {
margin-top:15px;
}

#reviewfull a {
color:#555;
}

.reviewdate {
float:right;
font-size:.75em;
padding-right:10px;
width:185px;
}

.librarianbadge {
display:block;
background-color:#0085dd;
padding:3px 0px 3px 8px;
border: 1px solid #ff5500;
width:60px;
margin:5px 0px;
color:#fff;
font-size:.75em;
line-height:.9em;
}

.teacherbadge {
display:block;
background-color:#ff5500;
padding:3px 0px 3px 8px;
border: 1px solid #0085dd;
width:60px;
margin:5px 0px;
color:#fff;
font-size:.75em;
line-height:.9em;
}

#reviewfull p.helpful {
margin-top:7px;
font-size:.75em;
}

#reviewfull p.helpful a {
text-decoration:none;
}

/* on review page */
#content {
width:525px;
float:left;
margin-right:20px;
margin-top:10px;
}

#works {
float:left;
width:225px;
max-height:500px;
overflow:auto;
}

.work {
padding:0 15px 15px 0;
margin-bottom:5px;
}

li.ui-draggable-dragging {
list-style: none;
font-family:"courier", Serif;
font-size:.85em;
}

.ui-draggable {
cursor:move;
}

#reviewform div p {
float:left;
width:150px;
text-align:center;
}

#reviewform legend {
font-size:.9em;
font-weight:bold;
}

#reviewform fieldset {
margin-top:15px;
padding:1em;
border:1px solid #d4d4d4;
width:475px;
}

#reviewform input[type="text"] {
width:435px;
margin-bottom:10px;
margin-top:10px;
}

#reviewform input[type="submit"] {
margin-top:15px;
margin-left:0px;
}

#reviewform label {
font-size:1.2em;
}

#reviewform .error {
color:#ff5500;
font-size:.9em;
}