/* /////////////////////////////////////////////////////////////////////////*/
/* The team @ Harvard Library Innovation Lab, www.librarylab.law.harvard.edu*/
/* /////////////////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////////////////*/

/* -------------------------------------------------------------- 
   css reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-size: 100%;
}

ol, ul {
  list-style-image:initial;
  list-style-position:initial;
  list-style-type:none;
}


/* -------------------------------------------------------------- 
   styling begins
-------------------------------------------------------------- */



html, body {
	height: 100%;/*managing the sticky footer*/
}

img:hover {
	cursor:pointer;
}

body {
	font-family:'Helvetica Neue', sans-serif;
	background:#fff;
	min-width:845px;
	max-width:1145px;
	font-size: 1.1em;
    color: #333333;
    border: none;
    line-height:normal;
    margin:0px auto;
}

h1, h1 a {
	letter-spacing:0px;
	font-size:1.6em;
	font-weight: normal;
	display:block;
	line-height:1.2em;
	margin-bottom:8px;
	white-space:normal;
	word-wrap:break-word; /*magically (doesn't seem to work all the time) breaks lines to allow them to wrap nicer...*/
	text-decoration:none;
	color:#333;
}

h2, h2 a, .creator, .creator a {
	letter-spacing:-1px;
	font-weight:normal;
	display:inline;
	white-space:normal;
	word-wrap: break-word;
	color:#555;
	line-height:27px;
}


h2 a:hover, .creator a:hover {
	color:#000;
}

#creator_container {
	clear:both;
	margin-bottom:24px;
}

h3, h3 a {
	clear:both;
	display:block;
	font-size: .85em;
	font-weight:normal;
	color:#555;
}

p{
	font-size:.75em;
}

.heading {
	font-size:1.1em;
  	display:block;
  	color:#035;
}

.alert {
	color:#ff5500;
	margin:5px;
}

.context-bar {
	position:relative;
	padding: 5px 10px;
	cursor:default;
	background:#fff;
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa;
		/*-moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;*/
	z-index:99999;
}

.context-bar p {
	font-size:.9em;
	color:#09f;
	margin-left:10px;
}

.footer, .footer-sticky {
	padding:5px 0;
	text-align:right;
	height:18px;
	color:#CCC;
	/*actual height= 29px: 1px border + 10px padding + 18px height
	  don't forget to change padding-bottom on search-container and margin-top on .footer-sticky*/
}

.footer-sticky {
	position:relative;
	margin-top:-29px;
	clear:both;
}

.footer a, .footer-sticky a {
	color:#aaa;
	text-decoration:none;
	border-bottom:0;
}

.logo, .logo a {
	font-size:1.5em;
	color:#444;
	font-weight:normal;
	text-decoration:none;
	margin-top:0px;
	border:0;
	text-shadow: 0px 1px #fff;
}
/*header-content and *-content classes below exist so we can have the header, footer and content background coloring flow to the edges of the window, but retain the ability to constrain max-width of the content itself*/

.welcome {
	position:relative;
	border:1px solid #eee;
	min-width:443px;
	padding:10px;
	margin-top:-5px;
	background:#fff;
}

.search-container {
	padding:0 0 -29px 0; /*managing the sticky footer*/
    overflow:auto;
    Background:red;
}

.container-content {
	z-index:0;
	position:relative;
	padding:0 0 0 0px;
}

.container {
	min-width:940px;
	margin:auto;
}
.search-container-content {
	overflow: hidden;
	padding: 0 0px 50px 20px;
	height:100%;
	margin-right:-20px;
}

.facet-box-container{
	float:right;
}

#community_rel {
	margin-top: 40px;
}

.overlay, .facet-box {
	float:left;
	margin:0px 0 0 0;
	width:51.5%;
	position:relative;
	border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   -o-border-radius: 2px;
   -ms-border-radius: 2px;
   border-right:0px solid #eee;
   padding:15px 15px 15px 0;
}

ol {
	margin: 0 0px;
}
	
.vision {
	margin:0 0 10px 0;
}


.search-results {
	/*/float:left;
	padding: 0 5px;
	margin:10px 0 10px 20px;
	background:#fff;
	width:68%;/*/
	min-height:500px;
	/*/border:1px solid #f2e4d7;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -o-border-radius: 3px;
   -ms-border-radius: 3px;
   	border-radius: 3px;/*/
}

.upstream, .downstream {
	position:relative;
	width:65px;
	height:65px;
	background-image:url('../images/nav2.png');
	background-repeat:no-repeat;
	background-position: 0 -130px;
   -webkit-user-select: none;
   -moz-user-select:none;
	user-select:none;
}

.upstream {
	margin-bottom:10px;
    background-position: 0 -87px;
}

.upstream:hover {
	background-position: 0 -44px;
}

.upstream:active {
	background-position: 0 -1px;
}

.downstream {
	margin-top:10px;
	background-position: 0 -130px;
}

.downstream:hover {
	background-position: 0 -173px;
}

.downstream:active {
	background-position: 0 -216px;
}



.next-page, .prev-page {
	position:relative;
	width:41px;
	height:40px;
	background-image:url('../images/nav3.png');
	background-repeat:no-repeat;
   -webkit-user-select: none;
   -moz-user-select:none;
	user-select:none;
	margin-top:20px;
	margin-right:-10px;
}

.next-page {
	float:right;
	background-position: -124px -5px;
}

.next-page:hover {
	background-position: -165px -5px;
}

.next-page:active {
	background-position: -206px -5px;
}

.prev-page {
	float:left;
	background-position: -84px -5px;
}

.prev-page:hover {
	background-position: -43px -5px;
}

.prev-page:active {
	background-position: -2px -5px;
}
/*/
.facet-box-container {
	float:right;
	margin:10px 0 0 10px;
	width:22%;
}
/*/

.facet-box {
	float:left;
	margin:0 0 0px 0;
	width:100%;
}

hr {
	clear:both;
	border : 0;
}

#holder {
	position:absolute;
	z-index:20;
}

.tagline {
	color:#777;
}

.red {
	border:1px solid red;
}
#navigation {
    float:right;
	width:105px;
	height:0px;
	margin: -12px 50px 0 0;
   -webkit-user-select: none;
   -moz-user-select:none;
	user-select:none;
}

.authorData-container {
	margin: 24px 0px 0px;
	padding:5px 5px 5px;
	background-image:none;
	position:relative;
	border:1px solid #09f;
	background:#eee;
}

.authorData-inner {
	background:#fff;
	border:1px solid #ddd;
	padding: 10px 15px 18px;
}

.itemData-container {
	margin: 24px 0px 20px;
	padding:5px 5px 5px;
	background-image:none;
	float:right;
	position:relative;
}

#itemData {   
    padding:10px 15px;
    background: #fff;
    color:#333;
    text-shadow:none;
    margin-top:0px;
    background:-webkit-linear-gradient(135deg,  transparent 20px, #fff 20px);  
    background:-moz-linear-gradient(135deg,  transparent 20px, #fff 20px);
    background:-o-linear-gradient(135deg,  transparent 20px, #fff 20px);
    position:relative;
    z-index:4;
}

#itemData a {
	text-decoration: none;
	/*/border-bottom:1px dotted #aaa;/*/
	display:pointer;
}

#contextData {
	float:left;
	/*/margin-left:-10px;/*/
}

.text-description {
  clear:both;
	width:40%;
	float:left;
	display:inline-block;
}

.scrollmarg{
	margin:0px 0 0 0;
}

.shadow {
  -moz-box-shadow: 1px 1px 4px #eee;
  -webkit-box-shadow: 1px 1px 4px #eee;
  -o-box-shadow: 1px 1px 4px #eee;
  -ms-box-shadow: 1px 1px 4px #eee;
   box-shadow: 1px 1px 4px #eee;
}
  

#shelves-panel {
	margin-top:-8px;
}

.main {
	position:relative;
	margin-left:20px;
	z-index: 0;

}

#overlaynav a {
	text-decoration:none;
	color:#f60;
}

#overlaynav ul li{
	display:inline;
	position:relative;
	list-style-type:none;
	height:20px;
	text-align:center;
	margin: 0 0px;
	text-decoration:none;
	background:#fefefe;
	width:100%;
}

#overlaynav a {
	border:0;
}

#overlaynav.fixed {
	position:fixed;
	width:53%;
	top:0px;
	z-index:100;
}

/*/////////////////////////////////////////////////////////*/
					/*HOME PAGE ELEMENTS*/
/*/////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////*/
					/*BOOK DATA OVERLAY*/
/*/////////////////////////////////////////////////////////*/

.cover-image{
	float:left;
	margin:0 15px 15px 0;
	border:1px solid #ccc;
	background-image:url('../images/fakeBook5.png');
	background-repeat: none;
	height:160px;
	width:110px;
	background-repeat:none;
	padding:0;
}

.stamp {
	position:relative;
	float:right;
	margin:4px 8px 0 0;
	z-index:1;
}
.indent1 {
	margin-left:30px;
}

.book-data { /* centering the content in overlay */
	margin:0px auto;
}

#all-rank {
	font-size:1em;
	margin:5px 0 0px; 
	cursor:pointer;
}

#shelfRankCalc {
	font-weight: normal;
}

#rank-math, #availability {
	float:left;
	padding:4px 8px;
    font-weight:normal;
}

.unpack {
	font-weight:normal;
   -webkit-user-select: none;
   -moz-user-select:none;
	user-select:none;
	text-shadow: none;
}

#bookTags {
	width:56%;
}

.book-tag-success {
	color: #ff9600;
}

.big-stuff {
	border:1px solid red;
}
.toc {
	float:left;
}

.search-instructions {
	font-size:12px;
	color:#666;
}

.buy {
	display:inline-block;
	border-radius: 2px;
  	-moz-border-radius: 2px;
  	-webkit-border-radius: 2px; 
  	padding: 3px 3px 3px;
}

ul.access {
  float:left;
  margin-left:-10px;
}

ul.access li {
  display:block;
  margin:0 0 8px 20px;
  color: #007ACC;
  cursor: pointer;
}

ul.access li a {
  font-family: "futura-pt",sans-serif;
  font-size:15px;
  color: #007ACC;
}

ul.access li:hover {
  border-color: #0099FF;
  color: #005288;
}

#availability-panel {
  clear:both;
  margin-bottom:10px;
}

#viewerCanvas {
	margin: 0 0 30px 0;
}

/*/////////////////////////////////////////////////////////*/
				/*GENERIC STYLING CLASSES*/
/*/////////////////////////////////////////////////////////*/

.alpha {
	font-size:.7em; 
	color: #09f; 
	margin: 8px 0 0 1px;
	float:left;
}

span.apology {
	font-size:24px;
	color:#555;
}

.apology .advanced-search, .apology .advanced-search:hover {
	font-size:24px;
	color:#09f;
}

.pointer {
	cursor:pointer;
	
}

label {
	font-size:.825em;
}
.about {
	font-size:.725em;
	line-height:1.3em;
}
.button .small {
	font-size:10px;
	color:#bbb;
	text-shadow: 0px 1px #fff;
}

.button-selected .small {
	font-size:10px;
	color:#7f7;
	text-shadow: 0px 1px #090;
}


.heading-space {
	padding:15px 0 0 10px;
}

.italic {
	font-style:italic;
}

.break {
	clear:both;
	height:8px;
}

.orange {
	color: #ff6600;
}

.cyan {
	color:#09f;
}

.grey {
	color:#999;
}

.black {
	color:#111;
	font-size:24px;
	line-height:32px;
}


.text-padding, .text {
	padding:15px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size:18px;
    line-height:22px;
}

.text-padding .call-out {
	display:block;
	padding:10px 0px;
	font-size:24px;
	line-height:28px;
}

.text {
	padding:15px 0px;
}

.text-padding p {
	 padding-top:5px;
	 padding-bottom:10px;
}

span.question {
	font-size:24px;
}

.indent {
	padding-left:15px;
	color:#555;
}

.indent a {
	color:#09f;
}

.dark {
	color:#111;
}

.about-button a {
   	font-size: 20px; 
   	text-decoration: none;
   	text-align: left;
   	color: #035;
   	font-weight:normal;
   	cursor:pointer;   
   	text-shadow: 0px 1px 0px #fff;
   	display:block;
   	height:auto;
	background:#f1f1f1; 
	padding:5px 5px 5px 5px;
	border:1px solid #ddd;
	text-align:center;
}

.home {
	margin-top:13px;
	line-height:18px;
	color: #035;
	margin-left:-45px;
}
a.about {
	color: #035;
	display:block;
}

.about-button a:hover, .about-button a:active {
	color:#09f;
}

.small {
	font-size:85%;
}

.caption {
	font-style:italic;
	margin:15px 10px 0;
}

h2.signature {
	margin:0px 0 0 60%;
	height:20px:
}

.padding {
	padding:0 6px;
}

.spacer {
	margin-top: 37px;
	width:40%;
}

.large {
	font-size:1.2em;
}

.navigation a {
	float:left;
	color:#232323;
 /*/font-variant: small-caps; text-transform: none; margin-bottom: 0;/*/
	text-decoration:none;
	margin:-2px 20px 0 0;
	border:0;
}

.navigation a:hover {
	color:#09f;
}

.navigation li {
	display:inline;
	list-style-type: none;
	margin: 0 20px;
	font-size:.9em; 
	width:100%;
	border-top:1px solid #ccc;
}

.navigation-frame {
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
}

.left {
	float:left;
}

.right {
	float:right;
	margin-right:30px;
}

.clear {
	clear:both;
}

.divider {
	color: #FF6300;
	margin:-2px 2px;
}

.clickable {
	cursor:pointer;
}

.highlight-border {
	min-height:50px;
}
/*/////////////////////////////////////////////////////////*/
					/*BUTTON CLASSES*/
/*/////////////////////////////////////////////////////////*/

/*/
.reload {
	background-image:url('../images/reload.png');
	background-repeat:no-repeat;
	background-position: 0 -31px;
	padding:0px 0 0 12px;
	margin:0px 0 0 0px;
	width:15px;
	height:15px;
	font-size:15px;
	color:#007acc;
}

.reload:hover {
	background-position:0 5px;
}

.reload:active {
	background-position:0 5px;
	color:#f60;
}
/*/


.button, .button-disabled, .tag-button, .button-availability, .subject-button, .wp_category-button, .stack-button,.small-button, .toggle {
   	font-size: 15px; 
   	padding: 0px 0px 8px 0px;
   	text-decoration: none;
   	text-align: left;
   	color: #035;
   	font-weight:normal;
   	cursor:pointer;   
   	margin-bottom:10px;
   	text-decoration:none;
   	line-height:1em;
   	text-shadow: 0px 1px 0px #fff;
   	word-wrap:break-word;
}

.subject-button, .stack-button, .wp_category-button {
	line-height:18px;
	margin-bottom:35px;
}

.button a, .button a:visited, .button-disabled a, .button-google, .button-google-disabled, .small-button a, .subject-button a, .subject-button a:visited  {
   	text-decoration: none;
   	text-align: left;
   	color: #035;
   	font-weight:normal;
   	cursor:pointer;   
   	margin:0px 3px 0  0px;
   	text-decoration:none;
}

.subject-button, .stack-button, #callview {
	height:auto;
	background:#f1f1f1; 
	padding:5px 5px 5px 5px;
	border:1px solid #ddd;
}


.subject-button:visited {
	text-decoration:none;
}

#shelves-panel .selected-button, .selected-button {
	background:#09f;
	color:#fff;
	border:1px solid #007acc;
	text-shadow: 0px -1px 0px #0070bb;
}


.small-button{
   	padding: 1px 2px 0px;
}

.button:hover a, .small-button:hover a, .button-google:hover a {
	color: #000;
    border-color: #5bf #09f #007acc;
}

.button:active a, .button-selected a, .button-selected:hover a, .small-button:active a {  
	color: #f00;
}

.button-disabled {
	color:#999;
	text-shadow: 0px 1px 0px #fff;
  cursor: default;
  padding:0 0 12px 12px;
	background-image:url('../images/reload.png');
	background-repeat:no-repeat;
	background-position: 0 -50px;
	height:15px;
}

.button-google, .button-google-disabled {
	margin-right:3px;
	padding:0;
	height:21px;
}

.button-google-disabled {
    cursor:default; 
}

.button-google-disabled img {
	cursor:default;
}

.button-disabled img {
	cursor:default;
}

.advanced-search, .advanced-search:hover, .advanced-search2, .advanced-search2:hover {
	position:relative;
	padding:0px 3px;
	margin-top:-2px;
	height:1.3em;
	font-size:13px;
	z-index:100;
}

.advanced-search2, .advanced-search2:hover {
	position:absolute;
	margin-top:-8px;
	font-size:16px;
}

.tag-button {
	margin-right:4px;
}

.user-button {
	display:block;
}

.subject-button, .wp_category-button, #callview, #uniform, #searchview, .subject-shelves .button, .subject-shelves .button-disabled, .tag-button, .stack-button {
	margin:5px 0 0 0px;
}

#arecentlyviewed, #authortitles {
	display:inline-block;

}

#recentlyviewed {
	margin-bottom:10px;
}

#tagGraph { 
	float:left;
	margin:15px 0 0 0;
}

.toggle {
	text-decoration:none;
	font-size: 18px;
	color: #555;
	padding: 10px 3px 1px;
}
				/*BUTTONS: DROP-DOWN STYLING*/
/* ------------------------------------------------------- */
.shelfRank {
	margin:0;
	padding:0 2px;
	border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px; 
   font-size:1em;
   text-align:center;
   border-width:1px;
   font-family: "Helvetica Neue", Arial, sans-serif;
}

.arrow, .search-arrow-up, .search-arrow-down, .arrow-down {
	display: inline-block; 
	width: 11px; 
	height: 10px; 
	margin: 0 0 0 2px; 
	position: relative; 
	top: 1px; 
	background-image: url('../images/sort-arrow.png'); 
}

.arrow {
	background-position:0 -13px;
}

.arrow-down {
	background-position:0 -1px;
}

.search-arrow-down {
	background-position: 0 -13px;
}

.search-arrow-up {
	background-position: 0 -1px;
}

.icon { 
	display: inline-block; 
	width: 9px; 
	height: 10px; 
	margin: 0 3px 0 0; 
	position: relative; 
	top: 1px; 
	background-image: url('../images/availability.png'); 
}

.available-button .icon {
	background-position:0 0;
}

.available-button:hover .icon {
	background-position:0 -12px;
}

.not-available-button .icon {
	background-position:0 -24px;
}

.not-available-button:hover .icon {
	background-position:0 -36px;
}

.button-availability:active { 
	background-position:0 -12px;
}



					/*CONTROL PANEL*/
/* ------------------------------------------------------- */

form {
	position:relative;
}

#header-search {

}

.available {
	color:#666;
}

.not-available {
	color:#999;
}
.callno {
 	color:#444;
}
 
.availibility-slide-content {
	margin-top:10px;	
}


#availability {
 	color:#666;
	font-size:15px;
	
}

#availability li {
	margin-bottom:6px;
}
/*/////////////////////////////////////////////////////////*/
				   /*SEARCH RESULTS PAGE*/
/*/////////////////////////////////////////////////////////*/

.facet-count {
	color:#09F;
	font-size:11px;
}	

.facet_pairs {
	line-height:1em;
	color:#444;
	padding: 1px 3px;
	margin-bottom:3px;
	cursor:pointer;
}

.facet_pairs:hover {
	
}

.facet_pairs li:hover {
	color:#000;
}
facet_pairs label {
	cursor:pointer;
}

.facet_set {
	display:block;
	position:relative;
	margin:0em 1em 1em 0;

	cursor:pointer;
	line-height:1.3em;
}


.facet_heading {
	color:#f60;
	cursor:pointer;
	font-size:16px;
}



#results {
   -webkit-user-select: none;
   -moz-user-select:none;
	user-select:none;
	margin-left:10px;
}


#results p.result-count {
	padding-left:15px;
	padding-bottom: 5px;
	font-size:13px;
	color:#09F; 
}

#results p.search-query {
	margin:.3em 0 .1em 0;
	padding-top:0px;
	padding-left:0px;
	font-size:15px;
	color:#111;
}

h6{
	font-weight:normal;
}

#persistent_controls {
	margin-top: 0px;
}

#query_facets {
	margin-top:-15px;
}

					/*TABLE STYLING*/
/* ------------------------------------------------------- */
#result-hits-container {
	margin-left:10px;
}
.title-column, .author-column, .year-column, .score-column {
	padding: 4px 5px;
}

.title-column {
	width:46%;
}

.author-column {
	width:30%;
}

.year-column {
	width:6%;
}

.score-column {
	width:20%;
	padding-right:5px;
}


table {
	color:#333;  /*/colors the column headers/*/
	font-size:.875em;
	width:100%;
	clear:both;
}

.hits {
	font-size:1em;
	margin-top:25px;
}

td {
	padding:.4em 5px;
	border-top:0px solid #77caff;
	color:#001f33;
}

th {
	font-weight:normal;
}

td a  {
	color:#001f33;
}

tr.odd td {
	background:#eef8ff;
}


td a:hover {
	 color:#090;
	 
}

#facet_bread_crumb_container {
	min-height:1.5em;
	margin:19px -22px 0px 19px;
}

#facet_bread_crumb li {
	display:inline;
	font-size:.825em;
	color:#09f;
	cursor:pointer;
}

#facet_bread_crumb li:hover {
	color:#f60;
	cursor:pointer;
}

#facet_bread_crumb .refine-arrow {
	display: inline-block; 
	position:relative;
	width: 21px; 
	height: 16px; 
	margin: 0 10px 0 0px; 
	position: relative; 
	top: 5px; 
	background-image: url('../images/breadCrumb.png');
	background-repeat: no-repeat;
	background-position: 0 0px;
	cursor:pointer;
}

#facet_bread_crumb li .refine-arrow:hover {
	background-position: 0 -15px;
}

.add_filter {
	cursor:pointer;
	font-size:.825em;
}

.remove_filter {
	float:left;
	color:#f60;
}
					
.home-stack {
	cursor:pointer;
}

#book-tags-form {
	clear:both;
}

.sortable {
	cursor: pointer;
}

.results-score {
	float:right;
	margin:0 20% 0 0;
	padding:0 2px;
	border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px; 
   text-align:center;
   font-family: 'Helvetica Neue', arial, sans-serif;
}


/*/////////////////////////////////////////////////////////*/
					/*SEARCH & FORMS*/
/*/////////////////////////////////////////////////////////*/


select {
	background: #FbFbFb;
  	color:#333;
  	border: 1px solid #ccc;  
  	font-size:16px;
  	width:200px;
  	line-height:30px;
   	border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
  	font-weight:normal;
  	outline:0;
 }
 
 .advanced-inputs p {
 	margin-bottom:10px;
 }
 
 #weight_select {
 	font-size:.6em;
 	margin:2px 0 0 5px;
 }
 
 #addremove {
 	color:#d4d4d4;
 	margin-left:315px;
 }
 
 .addfield, .removefield {
 	color: #333;
 	cursor: pointer;
 }
 
 .advanced-facets {
 	width:25%;
 	height:300px;
 }
 
#advanced {
  background: none repeat scroll 0 0 #FAF5F0;
}
 
#advanced .heading {
	color:#333;
}
#advanced input[type="submit"] {
	margin-left:100px;
}
 .advanced-inputs {
 	margin-left:105px;
 }
 
 .advanced-inputs p {
 	font-size:1em;
 }

#overlay-buttons {
	clear:both;
	display: block;
	width:100%;
	float:left; 
}


/*////////FULL ON SHOUTOUT TO ETHAN MARCOTTE'S WORK////////*/

.search {
	margin:13px 0 0 0;
	float:right;
}


.searchbox .search{
	margin-right:-43px;
}

input[type="button"], input[type="submit"] {
    color: #232323;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -o-box-shadow:none;
  -ms-box-shadow:none;
   box-shadow:none;
   background:transparent;
   outline:none;
   cursor:pointer;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="button"]:focus, input[type="submit"]:focus, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
	color:#09f;
	outline:none;
	border:0;
}

input.pointer {
	margin-top:-2px;
}

.facet_set .heading {
	margin:5px 0 5px;
}
/*/
input[type="button"]:hover, input[type="submit"]:hover {
	background: #f90;
	background: #AAA -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
	background: #AAA -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.15, rgba(255, 255, 255, 0.9)), color-stop(1, rgba(255, 255, 255, 0.5)));
	background-image: -moz-linear-gradient(#f90, #f30);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f90), to(#f30));
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
/*/
input[type="submit"] {  
    font-size: 1em;
    margin-right: -3px;
    vertical-align: top;
    min-width:45px;
    border:0px solid #035;
 
}

input[type="text"] {
	 font-size: 1em;
	 padding:0 5px;
	 border:1px solid #09f;
}

input, textarea {
/*/
    font-size: 1em;
    
    -moz-box-shadow:inset 1px 1px 4px #ccc;
  -webkit-box-shadow:inset 1px 1px 4px #ccc;
  -o-box-shadow:inset 1px 1px 4px #ccc;
  -ms-box-shadow:inset 1px 1px 4px #ccc;
   box-shadow:inset 1px 1px 4px #bbb;
   color:#232323;
   /*/
}

textarea:focus, input:focus{
	outline:none
}

input {
   margin:0px 0;
}

#search2 {
	font-size:1.4em;
	display:block;
	margin-top:20px;
	margin-bottom:10px;
	width:350px;
}

#search2 input[type="text"] {
	width:80%;
	border:1px solid #09f;
	background:#fff;
}

#search2 input[type="submit"] {
	width:15%
}

input.advanced-go {
	float:left;
	background:#ccc;
	width:100px;
}
/*/////////////////////////////////////////////////////////*/

.center {
	margin:0 auto;
	display:block;
}

.middle-position {
	position:relative;
	top:224px;
}

.middle-position-search {
	position:relative;
	top:192px;
}

.advanced-dropdown {
	margin-top:-5px;
	margin-bottom:5px;
}

#search .searchButton, .searchButtonAdvanced {
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    cursor: pointer;
    width: 30px;
    cursor: pointer;
    text-align:center;
    text-shadow:1px 0px #fff;
    margin-left:-5px;
}

#search .searchButtonAdvanced {
	font-size:50px;
}

.serach
.infocenter {
	margin:0 10px;
}


#displayarea {

}
.hidden {
	visibility: hidden;
}

/* -------------------------------------------------------------- 
   correcting float issues   
-------------------------------------------------------------- */

.group:after {  /* correcting the float issue */
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

/* -------------------------------------------------------------- 
   end float correction   
-------------------------------------------------------------- */

/* -------------------------------------------------------------- 
   jquery form elements
-------------------------------------------------------------- */
	

.wrap span.ui-selectmenu-item-header,.wrap ul.ui-selectmenu-menu li a { 
	text-decoration: underline !important; 
}
